PINECONE_API_KEY=
PINECONE_INDEX_NAME=my-index
PINECONE_SPARSE_MODEL=pinecone-sparse-english-v0
GROQ_API_KEY=
GROQ_TRANSCRIPTION_MODEL=whisper-large-v3-turbo
GOOGLE_API_KEY=
GOOGLE_EMBEDDING_MODEL=gemini-embedding-001
GOOGLE_EMBEDDING_DIMENSION=1536
GOOGLE_GENERATION_MODEL=gemini-2.5-flash
DATABASE_URL=
JWT_SECRET_KEY=
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
PINECONE_TOP_K=5
